* {
    border: 0%;
    margin: 0%;
    padding: 0%;
}

.main {
    display: flex;
    position: absolute;
    background-color:rgb(230, 230, 250);
    height: 100%;
    width: 100%;
}

.loginmain {
    align-items:center;
    flex-flow: column;
    display: flex;
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background-color: rgb(220, 220, 240);
    border-radius: 50px;
    height: 70%;
    width: 60%;
    box-shadow: 10px 10px 20px -20px black;
}

.logo {
    display: flex;
    position: relative;
    top: 5%;
}

.header1 {
    display: flex;
    position: relative;
    top: 8%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
}

.text1 {
    display: flex;
    position: relative;
    top: 8%;
    flex-flow: row;
}

.txt1 {
    display: flex;
    position: relative;
    top: 10%;
    padding-right: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
}

.hyperlink1 {
    display: flex;
    position: relative;
    top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    text-decoration: none;
    color: blue;
}

.login {
    display: flex;
    position: relative;
    width: 90%;
    height: 50vh;
    margin-bottom: 10%;
    border-radius:50px;
    top:10%;
    background-color: rgb(210, 210, 230);
    box-shadow: 10px 10px 20px -20px black;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 684px) {
    .login {
        width: 90%;
        height: 73%;
    }
    .loginmain {
        height: 90%;
        width: 90%;
    }
    .txt1 {
        font-size: 15px;
    }
    .hyperlink1 {
        font-size: 15px;
    }
    .header1 {
        font-size: 25px;
    }
}